<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="com.client.quickstart.addressbook.pojos" >
    <resources>
        <resource-root path="jdg-remote-cache-pojos.jar" />
    </resources>

    <dependencies>
        <module name="org.infinispan.client.hotrod" slot=jdg-7.1" export="true" />
        <module name="org.infinispan.commons" slot="jdg-7.1" export="true" />

        <module name="org.jboss.teiid.resource-adapter.infinispan.dsl" export="true" />
    </dependencies>
</module>
