<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.infinispan.protostream" slot="jdg-7.1">
    <resources>
        <resource-root path="protostream-4.0.0.CR1.jar"/>
        <!-- Insert resources here -->
    </resources>

    <dependencies>
        <module name="org.jboss.logging"/>
    </dependencies>
</module>
