<module xmlns="urn:jboss:module:1.1" name="org.apache.lucene" slot="jdg-6.5">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>
    <resources>
        <resource-root path="lucene-core-3.6.2.redhat-8.jar"/>
        <resource-root path="lucene-analyzers-3.6.2.redhat-8.jar"/>
        <resource-root path="lucene-facet-3.6.2.redhat-8.jar"/>
        <resource-root path="lucene-grouping-3.6.2.redhat-8.jar"/>
        <resource-root path="lucene-highlighter-3.6.2.redhat-8.jar"/>
        <resource-root path="lucene-memory-3.6.2.redhat-8.jar"/>
        <resource-root path="lucene-misc-3.6.2.redhat-8.jar"/>
        <resource-root path="lucene-kuromoji-3.6.2.redhat-8.jar"/>
        <resource-root path="lucene-phonetic-3.6.2.redhat-8.jar"/>
        <resource-root path="lucene-smartcn-3.6.2.redhat-8.jar"/>
        <resource-root path="lucene-spatial-3.6.2.redhat-8.jar"/>
        <resource-root path="lucene-spellchecker-3.6.2.redhat-8.jar"/>
        <resource-root path="lucene-stempel-3.6.2.redhat-8.jar"/>
        <!-- Insert resources here -->
    </resources>
    <dependencies>
        <module name="javax.api" optional="true" />
    </dependencies>
</module>
