<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="org.infinispan.query" slot="jdg-6.5">
    <resources>
        <resource-root path="infinispan-query-6.3.1.Final-redhat-1.jar"/>
        <!-- Insert resources here -->
    </resources>

    <dependencies>
        <module name="javax.api" />
        <module name="javax.transaction.api"/>
        <module name="org.antlr.stringtemplate" slot="jdg-6.5"/>
        <module name="org.apache.lucene" slot="jdg-6.5"/>
        <module name="org.hibernate.hql.parser" slot="jdg-6.5"/>
        <module name="org.hibernate.hql.lucene" slot="jdg-6.5"/>
        <module name="org.hibernate.search.engine" slot="jdg-6.5" export="true"/>
        <module name="org.infinispan" slot="jdg-6.5"/>
        <module name="org.infinispan.query.dsl" slot="jdg-6.5"/>
        <module name="org.infinispan.objectfilter" slot="jdg-6.5"/>
        <module name="org.jboss.logging" />
    </dependencies>
</module>
